.form-preview {
    width: 50vw;
}

.preview-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    border: 1px dashed var(--color-brand);
    margin: 1rem;
}

.generated-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px dotted var(--color-accent);
    padding: 1.5rem;
    border-radius: 10px;
    width: 50vw;
    background: var(--color-brand);
}