:root {
    --color-background: #081229;
    --color-background-inset: #060c1b;
    --color-background-secondary: #7579ff;
    --color-brand: #191d3a;
    --color-accent: #e90fb2;
    --box-shadow:  rgba(0, 0, 0, 0.1);
    --text-primary: #ffffff;
    --text-hover: #9598f4;
    --background-highlight: #f0f0f0;


    --toastify-toast-width: 500px;
    --toastify-color-light: #292ebd;
    --toastify-color-dark: #292ebd;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
}