.form-listing-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    border: 1px dashed var(--color-brand);
    margin: 1rem;
}

.form-listing-container>input {
    width: 40%;
}

.form-listing {
    border: 1px dotted var(--color-brand);
    padding: 0.7rem;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    min-width: 70px;
}

.top-level-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


table {
    border-collapse: collapse;
}

table th,
table td {
    border: 0.08rem solid var(--color-background-secondary);
    padding: 0.6rem;
}

table th {
    background-color: var(--color-brand);
    color: var(--color-accent);
    font-size: var(--font-medium);
    padding: 0.7rem;
    font-weight: 600;
}

table td {
    font-weight: 400;
    font-size: var(--font-medium);
}